<div
  class="max-w-sm mx-auto mt-10 p-6 border-2 border-gray-400 rounded-xl shadow-md text-center"
>
  <div class="flex justify-center items-center">
    <img src="easyfinlogo.png" alt="EasyFin logo" class="w-auto -my-20" />
  </div>
  <div class="flex flex-col gap-2">
    <app-input placeholder="email" type="email"></app-input>
    <app-input placeholder="password" type="password"></app-input>

    <app-button text="Login"></app-button>
  </div>

  <div class="text-sm flex justify-around text-gray-700 mb-3">
    <a href="#" class="underline text-base">Register</a>
    <a href="#" class="underline text-base">Forgot Password</a>
  </div>
  <div class="mt-20">
    <app-button text="google login"></app-button>
  </div>
</div>
